Universidad del Valle de Guatemala <br>
Facultad de Ingeniería <br>
Departamento de Ciencias de la Computación <br>
CC3066 - Data Science <br>
# Laboratorio 8
## Propuesta en producción de un modelo de ML

Integrantes:
- Andrea Lam
- Christopher Garcia
- Maria Isabel Solano

## Contexto 
El mercado inmobiliario en las grandes ciudades brasileñas ha experimentado cambios significativos en los últimos años debido a factores socioeconómicos y de desarrollo urbano. Es vital para las agencias inmobiliarias y los inversores comprender los factores que influyen en el precio del alquiler de viviendas para tomar decisiones informadas.

## Objetivo 
Reforzar el aprendizaje en selección de modelos y despliegue de soluciones de Machine Learning utilizando un conjunto de datos sobre alquiler de viviendas en Brasil

## Parte 1: Selección de Modelos

### 1. Exploracion de Datos

In [8]:
# %pip install joblib

In [9]:
# %pip install streamlit

In [10]:
# %pip install autogluon

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib notebook
%matplotlib inline
from autogluon.tabular import TabularPredictor
import streamlit as st
import joblib

In [12]:
data = pd.read_csv("./data.csv")

In [13]:
data.head()

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836

In [14]:
data.describe()

,area,rooms,bathroom,parking spaces,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
count,10692.000000,10692.000000,10692.000000,10692.000000,1.069200e+04,10692.000000,10692.000000,10692.000000,1.069200e+04
mean,149.217920,2.506079,2.236813,1.609147,1.174022e+03,3896.247194,366.704358,53.300879,5.490487e+03
std,537.016942,1.171266,1.407198,1.589521,1.559231e+04,3408.545518,3107.832321,47.768031,1.648473e+04
min,11.000000,1.000000,1.000000,0.000000,0.000000e+00,450.000000,0.000000,3.000000,4.990000e+02
25%,56.000000,2.000000,1.000000,0.000000,1.700000e+02,1530.000000,38.000000,21.000000,2.061750e+03
50%,90.000000,2.000000,2.000000,1.000000,5.600000e+02,2661.000000,125.000000,36.000000,3.581500e+03
75%,182.000000,3.000000,3.000000,2.000000,1.237500e+03,5000.000000,375.000000,68.000000,6.768000e+03
max,46335.000000,13.000000,10.000000,12.000000,1.117000e+06,45000.000000,313700.000000,677.000000,1.120000e+06

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   city                 10692 non-null  object
 1   area                 10692 non-null  int64
 2   rooms                10692 non-null  int64
 3   bathroom             10692 non-null  int64
 4   parking spaces       10692 non-null  int64
 5   floor                10692 non-null  object
 6   animal               10692 non-null  object
 7   furniture            10692 non-null  object
 8   hoa (R$)             10692 non-null  int64
 9   rent amount (R$)     10692 non-null  int64
 10  property tax (R$)    10692 non-null  int64
 11  fire insurance (R$)  10692 non-null  int64
 12  total (R$)           10692 non-null  int64
dtypes: int64(9), object(4)
memory usage: 1.1+ MB

### 2. Procesamiento de Datos

In [16]:
# Definir una variable de renta
label = 'rent amount (R$)'

# Dividir los datos en conjuntos de entrenamiento y prueba
train_data = data
test_data = data.copy()

### 3. Modelo Entrenado

In [17]:
# Configurar y entrenar el predictor de AutoGluon
predictor = TabularPredictor(label=label).fit(train_data)

# Evaluar el rendimiento del modelo en el conjunto de prueba
performance = predictor.evaluate(test_data)

No path specified. Models will be saved in: "AutogluonModels\ag-20231022_180301\"
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20231022_180301\"
AutoGluon Version:  0.8.2
Python Version:     3.10.2
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.19045
Disk Space Avail:   41.21 GB / 510.77 GB (8.1%)
Train Data Rows:    10692
Train Data Columns: 12
Label Column: rent amount (R$)
Preprocessing data ...
AutoGluon infers your prediction problem is: 'regression' (because dtype of label-column == int and many unique label-values observed).
	Label info (max, min, mean, stddev): (45000, 450, 3896.24719, 3408.54552)
	If 'regression' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3419.49 MB
	Train Data (Original)  Memory Usage: 3.58 MB (0.1% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 2 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])    : 8 | ['area', 'rooms', 'bathroom', 'parking spaces', 'hoa (R$)', ...]
		('object', []) : 4 | ['city', 'floor', 'animal', 'furniture']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 2 | ['city', 'floor']
		('int', [])       : 8 | ['area', 'rooms', 'bathroom', 'parking spaces', 'hoa (R$)', ...]
		('int', ['bool']) : 2 | ['animal', 'furniture']
	0.6s = Fit runtime
	12 features in original data used to generate 12 features in processed data.
	Train Data (Processed) Memory Usage: 0.73 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.72s ...
AutoGluon will gauge predictive performance using evaluation metric: 'root_mean_squared_error'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.1, Train Rows: 9622, Val Rows: 1070
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': {},
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': {},
	'XGB': {},
	'FASTAI': {},
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
Fitting 11 L1 models ...
Fitting model: KNeighborsUnif ...
	-868.3697	 = Validation score   (-root_mean_squared_error)
	9.08s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: KNeighborsDist ...
	-856.4926	 = Validation score   (-root_mean_squared_error)
	0.09s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMXT ...

[1000]	valid_set's rmse: 859.158
[2000]	valid_set's rmse: 846.393
[3000]	valid_set's rmse: 837.9
[4000]	valid_set's rmse: 833.258
[5000]	valid_set's rmse: 830.347
[6000]	valid_set's rmse: 828.671
[7000]	valid_set's rmse: 827.758
[8000]	valid_set's rmse: 827.364
[9000]	valid_set's rmse: 826.956
[10000]	valid_set's rmse: 826.561

	-826.5231	 = Validation score   (-root_mean_squared_error)
	68.5s	 = Training   runtime
	1.99s	 = Validation runtime
Fitting model: LightGBM ...

[1000]	valid_set's rmse: 709.141

	-708.2147	 = Validation score   (-root_mean_squared_error)
	5.44s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestMSE ...
	-584.0553	 = Validation score   (-root_mean_squared_error)
	16.81s	 = Training   runtime
	0.26s	 = Validation runtime
Fitting model: CatBoost ...
	-586.5486	 = Validation score   (-root_mean_squared_error)
	86.71s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: ExtraTreesMSE ...
	-652.1015	 = Validation score   (-root_mean_squared_error)
	7.18s	 = Training   runtime
	0.26s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
No improvement since epoch 3: early stopping
	-389.7326	 = Validation score   (-root_mean_squared_error)
	34.61s	 = Training   runtime
	0.08s	 = Validation runtime
Fitting model: XGBoost ...
	-514.4937	 = Validation score   (-root_mean_squared_error)
	50.06s	 = Training   runtime
	0.61s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	-798.6905	 = Validation score   (-root_mean_squared_error)
	150.83s	 = Training   runtime
	0.03s	 = Validation runtime
Fitting model: LightGBMLarge ...
	-710.8337	 = Validation score   (-root_mean_squared_error)
	3.26s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	-325.1974	 = Validation score   (-root_mean_squared_error)
	0.66s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 443.98s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels\ag-20231022_180301\")
Evaluation: root_mean_squared_error on test data: -514.3466387210549
	Note: Scores are always higher_is_better. This metric score can be multiplied by -1 to get the metric value.
Evaluations on test data:
{
    "root_mean_squared_error": -514.3466387210549,
    "mean_squared_error": -264552.46476364735,
    "mean_absolute_error": -181.3046420204742,
    "r2": 0.9772273151107282,
    "pearsonr": 0.9888473447369327,
    "median_absolute_error": -126.973388671875
}

In [18]:
# Se guarda el modelo
joblib.dump(predictor, "modeloV.sav")

['modeloV.sav']

## Parte 2: Creación de un sitio web interactivo

In [21]:
# Corre la interfaz 
# Hay que interrumpir la ejecución de esta celda para cerrar el programa
!streamlit run app.py

^C

## Reflexión